# Data Analysis 


This is my first Jupyter Notebook, I'm gooing to analyse the dataset called '**Mountaineering by Sam <3**'.

In [2]:
# Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Check input data files
from subprocess import check_output
print(check_output(["ls"]).decode("utf8"))

FIGA.ipynb
LICENSE
input

In [4]:
data = pd.read_csv("input/test.csv")

Let's take a look at the data

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 22 columns):
TripName            224 non-null object
CreatedAt           224 non-null float64
Region              224 non-null object
StartingFrom        224 non-null object
ElevationGain       224 non-null int64
Grade               224 non-null object
UphillSide          224 non-null object
DownhillSide        224 non-null object
MainSnowType        224 non-null object
Date                224 non-null float64
TripRate            224 non-null object
TripDescription     224 non-null object
SnowRate            224 non-null object
StartingAltitude    224 non-null int64
SnowDescription     91 non-null object
StartingValley      101 non-null object
EndAltitude         224 non-null int64
LinkedTrip          107 non-null object
OtherSnowType       107 non-null object
AvalancheRisk       107 non-null float64
Images              67 non-null object
User                224 non-null object
dtypes: float64(3), int64(3), object(16)
memory usage: 38.6+ KB

In [6]:
data.head()

,TripName,CreatedAt,Region,StartingFrom,ElevationGain,Grade,UphillSide,DownhillSide,MainSnowType,Date,...,SnowRate,StartingAltitude,SnowDescription,StartingValley,EndAltitude,LinkedTrip,OtherSnowType,AvalancheRisk,Images,User
0,Finailspitze - Punta di Finale,1.511303e+12,Alto Adige,Kurzras - Maso Corto,1503,BSA,Nord-Ovest,Nord-Ovest,Trasformata,1.494626e+12,...,Buone,2011,Vedi commento sulla gita.\n\nConsiderati i 150...,Val Senales,3514,NaN,NaN,NaN,NaN,musso
1,Infornace per fonte Rionne,1.511303e+12,Abruzzo,Incrocio strada Fonte Vetica - S.Stefano di Se...,900,BSA,Sud-Ovest,Sud-Ovest,Trasformata,1.494713e+12,...,Buone,1587,"Trasformata, dura al mattino, buona in discesa...",Campo Imperatore,2487,NaN,NaN,NaN,NaN,lorenzgr
2,Cavaion 3.120 m,1.511303e+12,Trentino,Rabbi Fonti,1900,BSA,Sud-Est,Sud-Est,Trasformata,1.494713e+12,...,Buone,1200,NaN,val di Rabbi,3100,NaN,NaN,NaN,NaN,Luca G.
3,Tuckett 3462 m,1.511303e+12,Alto Adige,Franzenshöhe,1300,BS,Nord-Est,Nord-Est,Trasformata,1.494886e+12,...,Buone,2188,NaN,Stelvio,3488,NaN,NaN,NaN,NaN,"Ruth, Michela, Mauro e Ermanno"
4,Marmolada,1.511303e+12,Trentino,Lago Fedaia,1650,OSA,Nord,Nord,Trasformata,1.494886e+12,...,Eccellenti,2000,neve portante ma non troppo dura fino da 100 m...,Fassa,3650,NaN,NaN,NaN,NaN,Andrea Bonalda

In [7]:
# columns gives column names of features
print(data.columns.tolist())

['TripName', 'CreatedAt', 'Region', 'StartingFrom', 'ElevationGain', 'Grade', 'UphillSide', 'DownhillSide', 'MainSnowType', 'Date', 'TripRate', 'TripDescription', 'SnowRate', 'StartingAltitude', 'SnowDescription', 'StartingValley', 'EndAltitude', 'LinkedTrip', 'OtherSnowType', 'AvalancheRisk', 'Images', 'User']

In [8]:
# shape gives number of rows and columns in a tuble
data.shape

(224, 22)

**STATISTICAL EXPLORATORY DATA ANALYSIS**

count: number of entries
mean: average of entries
std: standart deviation
min: minimum entry
25%: first quantile
50%: median or second quantile
75%: third quantile
max: maximum entry

In [9]:
data.describe() #ignore null entries

,CreatedAt,ElevationGain,Date,StartingAltitude,EndAltitude,AvalancheRisk
count,2.240000e+02,224.000000,2.240000e+02,224.000000,224.000000,107.000000
mean,1.511357e+12,1439.651786,1.502919e+12,1699.919643,3139.571429,1.401869
std,1.467804e+08,666.851255,7.470703e+09,575.159851,662.376205,0.492583
min,1.511303e+12,440.000000,1.494626e+12,-1688.000000,212.000000,1.000000
25%,1.511303e+12,965.000000,1.495836e+12,1462.750000,2600.000000,1.000000
50%,1.511303e+12,1280.000000,1.497132e+12,1766.000000,3141.500000,1.000000
75%,1.511303e+12,1708.250000,1.510873e+12,2000.750000,3565.000000,2.000000
max,1.511991e+12,4300.000000,1.511914e+12,3270.000000,4900.000000,2.000000

Lets take a look at some frequencies

In [10]:
# Regions frequencies
print(data['Region'].value_counts(dropna =False))  # if there are nan values that also be counted

Lombardia                52
Svizzera                 45
Trentino                 33
Alto Adige               28
Veneto                   22
Abruzzo                  13
Emilia Romagna           10
Valle d'Aosta             9
Francia                   6
Austria                   3
Piemonte                  2
Friuli Venezia Giulia     1
Name: Region, dtype: int64

In [11]:
# Starting Point frequencies
print(data['StartingFrom'].value_counts(dropna =False)).head()

Passo dello Stelvio  (2760 m)    5
Malga Ciapela                    3
Montespluga  (1908 m)            3
Misurina                         3
Passo Tonale  (1800 m)           2
Name: StartingFrom, dtype: int64

In [12]:
# Starting valley frequencies
print(data['StartingValley'].value_counts(dropna =False)).head()

# Too many NaN there

NaN                 123
Campo Imperatore      5
Stelvio               4
Val Passiria          2
val di Rabbi          2
Name: StartingValley, dtype: int64

In [46]:
# User frequencies
users=data['User'].value_counts(dropna =False)
users.head()

mmalanc              11
offtrack 65           6
BATTAGLIA             6
dario1985             5
Fabrizio Righetti     5
Name: User, dtype: int64

In [34]:
# Checking validity user ratings
print(data['SnowRate'].value_counts(dropna =False))

Buone          108
Eccellenti      40
Ottime          32
Accettabili     22
Discrete        12
Pessime          7
Mediocri         3
Name: SnowRate, dtype: int64

In [35]:
# Lets melt something (Just a test)
melted = pd.melt(frame=data, id_vars = 'StartingFrom', value_vars= ['StartingAltitude'])
melted.head()

                                        StartingFrom          variable  value
0                               Kurzras - Maso Corto  StartingAltitude   2011
1  Incrocio strada Fonte Vetica - S.Stefano di Se...  StartingAltitude   1587
2                                        Rabbi Fonti  StartingAltitude   1200
3                                       Franzenshöhe  StartingAltitude   2188
4                                        Lago Fedaia  StartingAltitude   2000

In [36]:
assert  data['Region'].notnull().all() # If ok won't print nothing

In [37]:
assert  data['StartingFrom'].notnull().all()

In [38]:
assert  data['StartingAltitude'].notnull().all()

In [39]:
data['Region'].describe()

count           224
unique           12
top       Lombardia
freq             52
Name: Region, dtype: object

In [48]:
data['User'].describe()

count         224
unique        144
top       mmalanc
freq           11
Name: User, dtype: object

In [49]:
data['StartingFrom'].describe()

count                               224
unique                              205
top       Passo dello Stelvio  (2760 m)
freq                                  5
Name: StartingFrom, dtype: object

Let's take a look at the most active user

In [51]:
data.loc[data["User"]=='mmalanc'].head()

,TripName,CreatedAt,Region,StartingFrom,ElevationGain,Grade,UphillSide,DownhillSide,MainSnowType,Date,...,SnowRate,StartingAltitude,SnowDescription,StartingValley,EndAltitude,LinkedTrip,OtherSnowType,AvalancheRisk,Images,User
125,Gran Paradiso,1.511303e+12,Valle d'Aosta,Pont (1970 m),2300,BS,Nord-Ovest,Nord-Ovest,Trasformata,1.496182e+12,...,Ottime,1761,NaN,NaN,4061,nessuno,Trasformata,1.0,NaN,mmalanc
126,"Cime di Campo, Cima Campana e Cima di Medaccio...",1.511303e+12,Lombardia,passo dello Stelvio (2758 m),2400,OSA,Varia,Varia,Trasformata,1.495922e+12,...,Ottime,1011,NaN,NaN,3411,nessuno,Trasformata,1.0,NaN,mmalanc
144,"San Matteo, Mantello",1.511303e+12,Lombardia,rifugio Berni (2459 m),3468,BSA,Varia,Varia,Farinosa,1.496873e+12,...,Ottime,210,NaN,NaN,3678,nessuno,Trasformata,1.0,NaN,mmalanc
146,San Matteo (da vedretta val piana) e Dosegù,1.511303e+12,Lombardia,Forni (2559 m),3068,BSA,Varia,Varia,Trasformata,1.497046e+12,...,Buone,610,NaN,NaN,3678,nessuno,Trasformata,1.0,NaN,mmalanc
155,"Tucket, Cime di Campo, Piccola cima di Campana...",1.511303e+12,Lombardia,Passo dello Stelvio (2760 m),3100,BSA,Varia,Varia,Trasformata,1.497650e+12,...,Ottime,369,NaN,NaN,3469,nessuno,Trasformata,1.0,NaN,mmalanc

In [43]:
data['ElevationGain'].describe()

count     224.000000
mean     1439.651786
std       666.851255
min       440.000000
25%       965.000000
50%      1280.000000
75%      1708.250000
max      4300.000000
Name: ElevationGain, dtype: float64

### 4. Missing data
Important questions when thinking about missing data:

How prevalent is the missing data?
Is missing data random or does it have a pattern?

The answer to these questions is important for practical reasons because missing data can imply a reduction of the sample size. This can prevent us from proceeding with the analysis. Moreover, from a substantive perspective, we need to ensure that the missing data process is not biased and hidding an inconvenient truth.

In [23]:
#missing data 
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(10)

                 Total   Percent
Images             157  0.700893
SnowDescription    133  0.593750
StartingValley     123  0.549107
AvalancheRisk      117  0.522321
OtherSnowType      117  0.522321
LinkedTrip         117  0.522321
User                 0  0.000000
DownhillSide         0  0.000000
CreatedAt            0  0.000000
Region               0  0.000000